<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <h1>Blog</h1>
    <p>Jednoduchý blog, kde můžete postovat článek.</p>
    <hr>
    <div>
        <% blogPosts.forEach(post => { %>
            <div class="post">
                <h2><%= post.title %></h2>
                <p><%= post.content %></p>
            </div>
        <% }); %>
    </div>
    <a href="/new">Vytvořit nový příspěvek</a>
</body>
</html>
